.account-page {
  margin-top: 50px;
  margin-left: 150px;
  margin-bottom: 100px;

  .customer-data {
    margin-bottom: 40px;
  }

  @include category-links();
  .category-link {
    font-size: 1.5em;
  }

  .button-wrapper {
    margin-top: 30px;
    @include button();
    .btn {
      width: 190px;
      height: 100%;
      font-size: 0.8rem;
    }
  }  
}

@media (max-width: 615px) {
  .account-page {
    margin-top: 40px;
    margin-left: 40px; 
    margin-bottom: 62px; 

    .customer-data {
      margin-bottom: 20px; 
    }

    .category-link {
      font-size: 1.2em; 
    }

    .button-wrapper {
      margin-top: 20px; 
      .btn {
        width: 80%; 
        font-size: 0.9rem; 
      }
    }
  }
}