.admin-customers-wrapper {
  margin-left: 100px;
  margin-bottom: 50px;

  table {
    width: 90%; 

    th, td {
      text-align: center; 
      padding: 10px; 
    }

    th {
      background-color: $pastel-pink; 
      color: $deep-grey; 
    }

    tr {
      &:nth-child(even) {
        background-color: $pastel-green; 
      }
    }
  }
}

@media (max-width: 615px) {
  .admin-customers-wrapper {
    margin-left: 20px; 
    margin-bottom: 30px; 

    table {
      display: block; 
      overflow-x: auto; 
      width: 100%; 

      thead {
        display: none; 
      }

      tbody {
        display: block; 
        max-height: 400px; 
        overflow-y: auto; 
      }

      tr {
        display: flex; 
        flex-direction: column; 

        td {
          padding: 10px; 
          font-size: 0.9em; 
        }
      }
    }
  }
}
