.delete-account-wrapper {
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 165px;

  p {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  @include button();
}

@media (max-width: 615px) {
  .delete-account-wrapper {
    margin-left: 20px; 
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 50px; 

    p {
      margin-top: 20px; 
      margin-bottom: 40px; 
      font-size: 0.9rem; 
    }

    button {
      width: 70%; 
      padding: 15px; 
      font-size: 1rem; 
    }
  }
}