.order-address-wrapper {
  margin-left: 150px;
  margin-bottom: 50px;

  @include button();

  .address-container {
    display: grid;
    grid-template-columns: 20px 300px;
    grid-gap: 40px;
    margin-bottom: 30px;
    margin-top: 30px;


    .address-label p {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 1.1em;
    }

    .address-input {
      position: relative;

      input[type="radio"] {
        appearance: none; 
        width: 15px; 
        height: 15px; 
        border: 2px solid $dark-grey; 
        border-radius: 50%; 
        outline: none; 
        cursor: pointer; 

        &:checked {
          background-color: $dark-blue; 
        }
      }
    }
  }
}