.order-success-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 215px;

  .order-success-links {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    
    .order-success-link a {
      font-size: 1.3em;
      transition: color 0.1s ease-in-out;
  
      &:hover {
        color: $dark-blue; 
      }
    }
  }
}