.spinner {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  height: 100vh; 
}

.spinner-icon {
  font-size: 40px;
  animation: spin 1s linear infinite;
  color: $dark-blue; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 615px) {
  .spinner {
    height: 80vh;
    margin-left: 0; 
    padding-top: 0; 
  }

  .spinner-icon {
    font-size: 30px; 
  }
}

