@import "./variables.scss";
@import "./test.scss";
@import "./navbar.scss";
@import "./home.scss";
@import "./modal.scss";
@import "./footer.scss";
@import "./product-item.scss";
@import "./product-details.scss";

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: $deep-grey;
}

h1, h2, h3 {
  color: $deep-grey;
}

p {
  color: $dark-grey;
}

.btn {
  background: none;            
  border: none; 
  border-radius: 5px;             
  padding: 15px 40px;                 
  cursor: pointer; 
  background-color: $pastel-dark-green;
  color: $dark-grey;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
 
  &:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
  }
}